.submit-description {
  font-size: 1.6rem;
}

.submit-button {
  font-size: 1.7rem;
  background-color: #201f1f;
  color: #ffffff;
  border: 5px solid #ffffff;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555555;
  color: white;
}
